<ng-container *ngIf="game; else waitingForGame">

    <div *ngIf="game.state === GameState.WAITING_FOR_PLAYERS; else gameReady">
      WAITING_FOR_PLAYERS
    </div>

    <ng-template #gameReady>

      <div class="hud">
        <div class="hud-player" [class.hud-player1]="currentPlayer === 0">{{game.players[0]?.name}}
          <span> - {{countBoxesOwnedBy(0)}}</span>
        </div>
        <div class="hud-player" [class.hud-player2]="currentPlayer === 1">{{game.players[1]?.name}}
          <span> - {{countBoxesOwnedBy(1)}}</span>
        </div>

        <div *ngIf="game.winners.length" class="hud-winner">WINNER:

          <ng-container *ngFor="let winner of game.winners">
            {{game.players[winner].name}}
          </ng-container>

        </div>

      </div>

      <pre>
        PL: {{gameService.currentPlayer?.name}}
      </pre>

      <dab-board (clickLine)="onClickLine($event)" [board]="game.board" [disabled]="boardDisabled" [player0Turn]="playerTurn(0)" [player1Turn]="playerTurn(1)"></dab-board>

    </ng-template>
  </ng-container>

  <ng-template #waitingForGame>
    <div>Watigng for game</div>
  </ng-template>