<ng-container *ngIf="game; else waitingForGame">

  <div [ngSwitch]="game.state">
    <div *ngSwitchCase="GameState.WAITING_FOR_PLAYERS">

      <ng-container *ngIf="notJoined; else waitingForMorePlayers">

        <div>
          <input [(ngModel)]="playerName" type="text">
          <button (click)="join()">Beitreten</button>
        </div>

      </ng-container>
    </div>

    <div *ngSwitchCase="GameState.READY">
      <button (click)="start()">Start</button>
      <div *ngIf="false; else score"></div>
    </div>

    <div *ngSwitchCase="GameState.PLAYING">
      <div *ngIf="false; else score"></div>
    </div>

    <div *ngSwitchCase="GameState.ENDED">
      <div *ngIf="false; else score"></div>
    </div>
  </div>

  <dab-board (clickLine)="onClickLine($event)" [board]="game.board" [disabled]="boardDisabled"
    [player0Turn]="playerTurn(0)" [player1Turn]="playerTurn(1)"></dab-board>

  <button (click)="restart()">Neu beginnen</button>
  <button (click)="leave()">Spiel verlassen</button>
</ng-container>

<ng-template #score>
  <div class="score">

    <div class="score-card player-1" [class.active]="playerActive(0)">
      <div>{{ game.players[0]?.name }}</div>
      <span>{{ game.countBoxesOwnedBy[0] || 0 }}</span>
      <img *ngIf="playerActive(0) && game.state === GameState.ENDED" src="assets/images/pokal.png">
    </div>

    <span class="versus">vs</span>

    <div class="score-card player-2" [class.active]="playerActive(1)">
      <div>{{ game.players[1]?.name }}</div>
      <span>{{ game.countBoxesOwnedBy[1] || 0 }}</span>
      <img *ngIf="playerActive(1) && game.state === GameState.ENDED" src="assets/images/pokal.png">
    </div>
  </div>
</ng-template>

<ng-template #waitingForGame>
  <div>Verbinde zum game server...</div>
</ng-template>

<ng-template #waitingForMorePlayers>
  <div>Warte auf noch mehr Spieler</div>
</ng-template>