<pre>
  PL: {{gameService.currentPlayer?.name}}
</pre>

<div class="row" *ngFor="let row of board; let rowIndex = index; let lastRow = last">
    <div class="col" *ngFor="let box of row; let boxIndex = index; let lastBox = last">
      <div *ngFor="let line of lines(box)"
        (click)="onClickLine(rowIndex, boxIndex, line.name)"
        [class]="line.name"
        [class.line-free]="line.owner === undefined && !line.boundary"
        [class.boundary]="line.boundary"
        [class.player1]="line.owner === 0"
        [class.player2]="line.owner === 1"></div>
      <span *ngIf="box.owner !== undefined" [class.cross-player1]="box.owner === 0" [class.cross-player2]="box.owner === 1" class="cross">X</span>
      <div class="dot"></div>
      <div *ngIf="lastRow" class="dot dot-bottom"></div>
      <div *ngIf="lastBox" class="dot dot-right"></div>
      <div *ngIf="lastRow && lastBox" class="dot dot-right dot-bottom"></div>
    </div>
  </div>



