$player1-color: red;
$player2-color: blue;

:host {
    margin: 40px;
    display: block;
    width: fit-content;

    .dot {
        width: calc(var(--box-line-size) * 2);
        height: calc(var(--box-line-size) * 2);
        border-radius: var(--box-line-size);
        top: calc(-1 * var(--box-line-size) / 2);
        left: calc(-1 * var(--box-line-size) / 2);
        position: absolute;
        background-color: gray;
        z-index: 1;
    }

    .dot-bottom {
        top: calc(var(--box-size) - (var(--box-line-size) * 1.5));
    }

    .dot-right {
        left: calc(var(--box-size) - (var(--box-line-size) * 1.5));
    }

    &.current-player1 {
        .line-free:hover {
            background-color: $player1-color;
            opacity: 0.4;
        }
    }

    &.current-player2 {
        .line-free:hover {
            background-color: $player2-color;
            opacity: 0.4;
        }
    }

    &.inactive {
        pointer-events: none;
    }

}

.row {
    display: flex;
    height: var(--box-size);
    margin-top: calc(-1 * var(--box-line-size));
}

.col {
    width: var(--box-size);
    position: relative;
    margin-left: calc(-1 * var(--box-line-size));
    display: flex;
}

.top, .bottom, .left, .right {
    position: absolute;
    display: inline;
    background-color: #f0f0f0;

    &.boundary {
        z-index: 1;
    }
}

.top, .bottom {
    height: var(--box-line-size);
    width: var(--box-size);
 }

 .left, .right {
    height: var(--box-size);
    width: var(--box-line-size);
}

.bottom {
    top: calc(var(--box-size) - var(--box-line-size));
 }

 .right {
    left: calc(var(--box-size) - var(--box-line-size));
 }

 .cross {
    position: absolute;
    left: calc(var(--box-size) / 2 - (var(--box-line-size) / 2));

    &::before, &::after {
        display: block;
        position: absolute;
        width: var(--box-line-size);
        height: var(--box-size);
        content: "";
        border-radius: var(--box-line-size);
    }

    &.cross-player1 {
        & {
            &::before, &::after {
                background-color: $player1-color;
            }
        }
    }

    &.cross-player2 {
        & {
            &::before, &::after {
                background-color: $player2-color;
            }
        }
    }

    &::before {
       transform: rotate(45deg) scale(0.8);
    }

    &::after {
       transform: rotate(-45deg) scale(0.8);
    }
 }

 .boundary {
     background-color: gray;
 }

 .player1 {
     background-color: $player1-color;
 }

 .player2 {
     background-color: $player2-color;
 }

 .hud {
     display: flex;
     font-size: 22px;
     color: lightgray;
     margin-bottom: 20px;
     & > div {
         padding: 10px;
     }

    .hud-player {
        & > span {
            color: black;
        }
    }

    .hud-player1 {
        color: $player1-color;
        font-weight: bold;
    }

    .hud-player2 {
        color: $player2-color;
        font-weight: bold;
    }
 }