<div class="row" *ngFor="let row of board; let rowIndex = index; let lastRow = last">
    <div class="col" (click)="onClickBox(box)" *ngFor="let box of row; let boxIndex = index; let lastBox = last">
      <div *ngFor="let line of lines(box)"
        (click)="onClickLine(rowIndex, boxIndex, line.name, $event)"
        [class]="line.class"
        [class.line]="true"
        [class.line-free]="line.o === undefined && !line.b"
        [class.boundary]="line.b"
        [class.player1]="line.o === 0"
        [class.player2]="line.o === 1"></div>
      <span *ngIf="box.o !== undefined" [class.cross-player1]="box.o === 0" [class.cross-player2]="box.o === 1" class="cross"></span>
      <div class="dot"></div>
      <div *ngIf="lastRow" class="dot dot-bottom"></div>
      <div *ngIf="lastBox" class="dot dot-right"></div>
      <div *ngIf="lastRow && lastBox" class="dot dot-right dot-bottom"></div>
      <div *ngIf="boundaryOwner(box)" class="boundary-box"></div>
    </div>
  </div>


